.33_410 { 
	overflow:hidden;
}
.e33_410 { 
	width:1280px;
	height:720px;
	position:absolute;
	background-image:url(images/open_ticket_screen.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e33_411 { 
	background-color:rgba(255, 255, 255, 1);
	width:332px;
	height:40px;
	position:absolute;
	left:874px;
	top:40px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e33_412 { 
	position:absolute;
	left:1267px;
	top:47px;
}
.e33_413 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 0);
	width:16px;
	height:16px;
	position:absolute;
	left:1216px;
	top:52px;
}
.e33_414 { 
	background-color:rgba(255, 255, 255, 1);
	width:14.000042915344238px;
	height:16px;
	position:absolute;
	left:0.9999787211418152px;
	top:0px;
}
.e33_415 { 
	border-radius:500px;
	background-color:rgba(253.0000001192093, 154.00000602006912, 62.00000010430813, 1);
	width:6px;
	height:6px;
	position:absolute;
	left:10px;
	top:-1px;
}
.e33_416 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:16px;
	height:16px;
	position:absolute;
	left:1180px;
	top:52px;
}
.e33_417 { 
	width:15px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
}
.e33_418 { 
	border-radius:500px;
	width:13px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
}
.33_418 { 
	border:1.5px solid rgba(161.4815765619278, 158.1991758942604, 158.1991758942604, 1);
}
.33_419 { 
	border:1.5px solid rgba(161.4815765619278, 158.1991758942604, 158.1991758942604, 1);
}
.e33_419 { 
	width:4px;
	height:4px;
	position:absolute;
	left:11px;
	top:11px;
}
.e33_420 { 
	color:rgba(255, 255, 255, 1);
	width:727px;
	height:34px;
	position:absolute;
	left:185px;
	top:43px;
	font-family:Mulish;
	text-align:left;
	font-size:24px;
	letter-spacing:0.30000001192092896;
}
.e33_421 { 
	color:rgba(255, 255, 255, 1);
	width:727px;
	height:34px;
	position:absolute;
	left:185px;
	top:105px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:0.30000001192092896;
}
.e33_442 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(7.926861047744751, 24.625401310622692, 171.05884104967117, 1);
	width:992px;
	height:458px;
	position:absolute;
	left:214px;
	top:185px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.33_443 { 
	border:1px solid rgba(6.000000117346644, 16.000000946223736, 113.00000086426735, 1);
}
.e33_443 { 
	width:992px;
	height:0px;
	position:absolute;
	left:214px;
	top:255px;
}
.33_444 { 
	border:1px solid rgba(6.000000117346644, 16.000000946223736, 113.00000086426735, 1);
}
.e33_444 { 
	width:992px;
	height:0px;
	position:absolute;
	left:214px;
	top:331px;
}
.33_445 { 
	border:1px solid rgba(6.000000117346644, 16.000000946223736, 114.0000008046627, 1);
}
.e33_445 { 
	width:992px;
	height:0px;
	position:absolute;
	left:214px;
	top:408px;
}
.33_446 { 
	border:1px solid rgba(6.000000117346644, 16.000000946223736, 112.000000923872, 1);
}
.e33_446 { 
	width:992px;
	height:0px;
	position:absolute;
	left:214px;
	top:486px;
}
.33_447 { 
	border:1px solid rgba(6.000000117346644, 16.000000946223736, 112.000000923872, 1);
}
.e33_447 { 
	width:992px;
	height:0px;
	position:absolute;
	left:214px;
	top:562px;
}
.e33_448 { 
	width:61px;
	height:365px;
	position:absolute;
	left:242px;
	top:263px;
}
.e33_449 { 
	border-radius:500px;
	width:61px;
	height:61px;
	position:absolute;
	left:0px;
	top:78px;
	background-image:url(images/ellipse_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e33_450 { 
	border-radius:500px;
	width:61px;
	height:61px;
	position:absolute;
	left:0px;
	top:227px;
	background-image:url(images/ellipse_9.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e33_451 { 
	border-radius:500px;
	width:61px;
	height:61px;
	position:absolute;
	left:0px;
	top:155px;
	background-image:url(images/ellipse_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e33_452 { 
	border-radius:500px;
	width:61px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/ellipse_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e33_453 { 
	border-radius:500px;
	width:61px;
	height:61px;
	position:absolute;
	left:0px;
	top:304px;
	background-image:url(images/ellipse_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e33_454 { 
	width:101px;
	height:319px;
	position:absolute;
	left:477px;
	top:289px;
}
.e33_455 { 
	color:rgba(255, 255, 255, 1);
	width:101px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.30000001192092896;
}
.e33_456 { 
	color:rgba(255, 255, 255, 1);
	width:101px;
	height:20px;
	position:absolute;
	left:0px;
	top:75px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.30000001192092896;
}
.e33_457 { 
	color:rgba(255, 255, 255, 1);
	width:101px;
	height:20px;
	position:absolute;
	left:0px;
	top:152px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.30000001192092896;
}
.e33_458 { 
	color:rgba(255, 255, 255, 1);
	width:101px;
	height:20px;
	position:absolute;
	left:0px;
	top:225px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.30000001192092896;
}
.e33_459 { 
	color:rgba(255, 255, 255, 1);
	width:101px;
	height:20px;
	position:absolute;
	left:0px;
	top:299px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.30000001192092896;
}
.e33_460 { 
	width:165px;
	height:319px;
	position:absolute;
	left:624px;
	top:289px;
}
.e33_461 { 
	color:rgba(255, 255, 255, 1);
	width:154px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.30000001192092896;
}
.e33_462 { 
	color:rgba(255, 255, 255, 1);
	width:154px;
	height:20px;
	position:absolute;
	left:0px;
	top:75px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.30000001192092896;
}
.e33_463 { 
	color:rgba(255, 255, 255, 1);
	width:154px;
	height:20px;
	position:absolute;
	left:0px;
	top:152px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.30000001192092896;
}
.e33_464 { 
	color:rgba(255, 255, 255, 1);
	width:165px;
	height:20px;
	position:absolute;
	left:0px;
	top:225px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.30000001192092896;
}
.e33_465 { 
	color:rgba(255, 255, 255, 1);
	width:154px;
	height:20px;
	position:absolute;
	left:0px;
	top:299px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.30000001192092896;
}
.e33_466 { 
	width:88px;
	height:319px;
	position:absolute;
	left:835px;
	top:286px;
}
.e33_467 { 
	color:rgba(255, 255, 255, 1);
	width:82.13333129882812px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0.30000001192092896;
}
.e33_468 { 
	color:rgba(255, 255, 255, 1);
	width:82.13333129882812px;
	height:20px;
	position:absolute;
	left:0px;
	top:75px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0.30000001192092896;
}
.e33_469 { 
	color:rgba(255, 255, 255, 1);
	width:82.13333129882812px;
	height:20px;
	position:absolute;
	left:0px;
	top:152px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0.30000001192092896;
}
.e33_470 { 
	color:rgba(255, 255, 255, 1);
	width:88px;
	height:20px;
	position:absolute;
	left:0px;
	top:225px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0.30000001192092896;
}
.e33_471 { 
	color:rgba(255, 255, 255, 1);
	width:82.13333129882812px;
	height:20px;
	position:absolute;
	left:0px;
	top:299px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0.30000001192092896;
}
.e33_472 { 
	width:134px;
	height:321px;
	position:absolute;
	left:323px;
	top:289px;
}
.e33_473 { 
	color:rgba(255, 255, 255, 1);
	width:101px;
	height:20.125391006469727px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.30000001192092896;
}
.e33_474 { 
	color:rgba(255, 255, 255, 1);
	width:134px;
	height:20.125391006469727px;
	position:absolute;
	left:0px;
	top:75.47022247314453px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.30000001192092896;
}
.e33_475 { 
	color:rgba(255, 255, 255, 1);
	width:101px;
	height:20.125391006469727px;
	position:absolute;
	left:0px;
	top:152.95297241210938px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.30000001192092896;
}
.e33_476 { 
	color:rgba(255, 255, 255, 1);
	width:129px;
	height:20.125391006469727px;
	position:absolute;
	left:0px;
	top:226.41065979003906px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.30000001192092896;
}
.e33_477 { 
	color:rgba(255, 255, 255, 1);
	width:101px;
	height:20.125391006469727px;
	position:absolute;
	left:0px;
	top:300.8746032714844px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.30000001192092896;
}
.e33_478 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:99px;
	height:343px;
	position:absolute;
	left:1024px;
	top:276px;
}
.e33_479 { 
	width:99px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
}
.e33_480 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(253.0000001192093, 154.00000602006912, 62.00000010430813, 1);
	width:99px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e33_481 { 
	color:rgba(255, 255, 255, 1);
	width:69px;
	height:16px;
	position:absolute;
	left:15px;
	top:8px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0.30000001192092896;
}
.e33_482 { 
	width:99px;
	height:36px;
	position:absolute;
	left:0px;
	top:77px;
}
.e33_483 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(253.0000001192093, 154.00000602006912, 62.00000010430813, 1);
	width:99px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e33_484 { 
	color:rgba(255, 255, 255, 1);
	width:69px;
	height:16px;
	position:absolute;
	left:15px;
	top:8px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0.30000001192092896;
}
.e33_485 { 
	width:99px;
	height:36px;
	position:absolute;
	left:0px;
	top:153px;
}
.e33_486 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(253.0000001192093, 154.00000602006912, 62.00000010430813, 1);
	width:99px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e33_487 { 
	color:rgba(255, 255, 255, 1);
	width:69px;
	height:16px;
	position:absolute;
	left:15px;
	top:8px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0.30000001192092896;
}
.e33_488 { 
	width:99px;
	height:36px;
	position:absolute;
	left:0px;
	top:231px;
}
.e33_489 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(253.0000001192093, 154.00000602006912, 62.00000010430813, 1);
	width:99px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e33_490 { 
	color:rgba(255, 255, 255, 1);
	width:69px;
	height:16px;
	position:absolute;
	left:15px;
	top:8px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0.30000001192092896;
}
.e33_491 { 
	width:99px;
	height:36px;
	position:absolute;
	left:0px;
	top:307px;
}
.e33_492 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(253.0000001192093, 154.00000602006912, 62.00000010430813, 1);
	width:99px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e33_493 { 
	color:rgba(255, 255, 255, 1);
	width:69px;
	height:16px;
	position:absolute;
	left:15px;
	top:8px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0.30000001192092896;
}
.e33_494 { 
	width:816px;
	height:21px;
	position:absolute;
	left:289px;
	top:213px;
}
.e33_495 { 
	color:rgba(255, 255, 255, 1);
	width:133px;
	height:19px;
	position:absolute;
	left:0px;
	top:2px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.30000001192092896;
}
.e33_496 { 
	color:rgba(255, 255, 255, 1);
	width:133px;
	height:19px;
	position:absolute;
	left:173px;
	top:2px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.30000001192092896;
}
.e33_497 { 
	color:rgba(255, 255, 255, 1);
	width:154px;
	height:19px;
	position:absolute;
	left:346px;
	top:2px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.30000001192092896;
}
.e33_498 { 
	color:rgba(255, 255, 255, 1);
	width:157px;
	height:19px;
	position:absolute;
	left:540px;
	top:2px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.30000001192092896;
}
.e33_499 { 
	color:rgba(255, 255, 255, 1);
	width:64px;
	height:19px;
	position:absolute;
	left:752px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.30000001192092896;
}
.e33_1025 { 
	width:149px;
	height:720px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei33_1025_30_15 { 
	width:149px;
	height:720px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei33_1025_28_83 { 
	background-color:rgba(23.000000528991222, 136.00000709295273, 20.000000707805157, 1);
	width:149px;
	height:720px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei33_1025_28_86 { 
	width:129px;
	height:132px;
	position:absolute;
	left:8px;
	top:101px;
}
.ei33_1025_28_87 { 
	width:109.15384674072266px;
	height:105.26581573486328px;
	position:absolute;
	left:11.576923370361328px;
	top:13.36709976196289px;
}
.i33_1025_28_88 { 
	overflow:hidden;
}
.ei33_1025_28_88 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:109.15384674072266px;
	height:105.26581573486328px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei33_1025_28_89 { 
	width:226.60951232910156px;
	height:207.74520874023438px;
	position:absolute;
	left:-42.358280181884766px;
	top:-44.658233642578125px;
	background-image:url(images/m_header.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei33_1025_28_90 { 
	border-radius:500px;
	width:129px;
	height:132px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei33_1025_28_91 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:15px;
	position:absolute;
	left:18px;
	top:242px;
	font-family:Mulish;
	text-align:right;
	font-size:20px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.ei33_1025_30_13 { 
	color:rgba(255, 255, 255, 1);
	width:79px;
	height:15px;
	position:absolute;
	left:24px;
	top:668px;
	font-family:Mulish;
	text-align:right;
	font-size:16px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.ei33_1025_28_107 { 
	background-color:rgba(255, 255, 255, 1);
	width:38px;
	height:37px;
	position:absolute;
	left:53px;
	top:619px;
}
.ei33_1025_28_109 { 
	background-color:rgba(253.0000001192093, 154.00000602006912, 62.00000010430813, 1);
	width:40px;
	height:34px;
	position:absolute;
	left:57px;
	top:371px;
}
.ei33_1025_28_110 { 
	width:34px;
	height:35px;
	position:absolute;
	left:57px;
	top:452px;
}
.ei33_1025_28_111 { 
	background-color:rgba(255, 255, 255, 1);
	width:34px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei33_1025_28_112 { 
	width:40.9219970703125px;
	height:35.61391830444336px;
	position:absolute;
	left:53px;
	top:534px;
}
.ei33_1025_28_113 { 
	background-color:rgba(255, 255, 255, 1);
	width:40.9219970703125px;
	height:35.61391830444336px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei33_1025_30_12 { 
	width:39px;
	height:33px;
	position:absolute;
	left:53px;
	top:291px;
}
.ei33_1025_30_4 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:20px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}
.ei33_1025_30_7 { 
	background-color:rgba(255, 255, 255, 1);
	width:16px;
	height:13px;
	position:absolute;
	left:23px;
	top:5px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}
.ei33_1025_30_9 { 
	background-color:rgba(255, 255, 255, 1);
	width:16px;
	height:13px;
	position:absolute;
	left:4px;
	top:20px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}
.ei33_1025_30_11 { 
	background-color:rgba(255, 255, 255, 1);
	width:16px;
	height:13px;
	position:absolute;
	left:23px;
	top:20px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}
.ei33_1025_30_54 { 
	background-color:rgba(253.0000001192093, 154.00000602006912, 62.00000010430813, 1);
	width:149px;
	height:77px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei33_1025_30_56 { 
	transform: rotate(-74.9999982305801deg);
	background-color:rgba(3.1323849549517035, 3.136672549881041, 3.1838360941037536, 1);
	width:25.410112380981445px;
	height:27.115379333496094px;
	position:absolute;
	left:23px;
	top:36.5443115234375px;
}
.ei33_1025_30_58 { 
	color:rgba(0, 0, 0, 1);
	width:65px;
	height:32px;
	position:absolute;
	left:48.76806640625px;
	top:12.01800537109375px;
	font-family:Mulish;
	text-align:left;
	font-size:25px;
	letter-spacing:0.30000001192092896;
}
.ei33_1025_30_61 { 
	color:rgba(0, 0, 0, 1);
	width:95px;
	height:22px;
	position:absolute;
	left:35.76806640625px;
	top:41.0179443359375px;
	font-family:Montserrat;
	text-align:left;
	font-size:10px;
	letter-spacing:0.30000001192092896;
}
.ei33_1025_33_846 { 
	color:rgba(255, 255, 255, 1);
	width:52px;
	height:23px;
	position:absolute;
	left:45px;
	top:578px;
	font-family:Mulish;
	text-align:right;
	font-size:18px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.ei33_1025_33_847 { 
	color:rgba(255, 255, 255, 1);
	width:98px;
	height:23px;
	position:absolute;
	left:24px;
	top:495px;
	font-family:Mulish;
	text-align:right;
	font-size:18px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.ei33_1025_33_848 { 
	color:rgba(255, 255, 255, 1);
	width:66px;
	height:23px;
	position:absolute;
	left:41px;
	top:417px;
	font-family:Mulish;
	text-align:right;
	font-size:18px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.ei33_1025_33_849 { 
	color:rgba(255, 255, 255, 1);
	width:98px;
	height:23px;
	position:absolute;
	left:25px;
	top:335px;
	font-family:Mulish;
	text-align:right;
	font-size:18px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
