.35_83 { 
	overflow:hidden;
}.e35_83 { 
	width:1280px;
	height:720px;
	position:absolute;
	background-image:url(images/schedule__screen_return.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e35_84 { 
	background-color:rgba(255, 255, 255, 1);
	width:332px;
	height:40px;
	position:absolute;
	left:874px;
	top:40px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e35_85 { 
	position:absolute;
	left:1267px;
	top:47px;
}.e35_86 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 0);
	width:16px;
	height:16px;
	position:absolute;
	left:1216px;
	top:52px;
}.e35_87 { 
	background-color:rgba(255, 255, 255, 1);
	width:14.000042915344238px;
	height:16px;
	position:absolute;
	left:0.9999787211418152px;
	top:0px;
}.e35_88 { 
	border-radius:500px;
	background-color:rgba(253.0000001192093, 154.00000602006912, 62.00000010430813, 1);
	width:6px;
	height:6px;
	position:absolute;
	left:10px;
	top:-1px;
}.e35_89 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:16px;
	height:16px;
	position:absolute;
	left:1180px;
	top:52px;
}.e35_90 { 
	width:15px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
}.e35_91 { 
	border-radius:500px;
	width:13px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
}.35_91 { 
	border:1.5px solid rgba(161.4815765619278, 158.1991758942604, 158.1991758942604, 1);
}.35_92 { 
	border:1.5px solid rgba(161.4815765619278, 158.1991758942604, 158.1991758942604, 1);
}.e35_92 { 
	width:4px;
	height:4px;
	position:absolute;
	left:11px;
	top:11px;
}.e35_93 { 
	color:rgba(255, 255, 255, 1);
	width:727px;
	height:34px;
	position:absolute;
	left:185px;
	top:43px;
	font-family:Mulish;
	text-align:left;
	font-size:24px;
	letter-spacing:0.30000001192092896;
}.e35_94 { 
	color:rgba(255, 255, 255, 1);
	width:727px;
	height:34px;
	position:absolute;
	left:185px;
	top:105px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:0.30000001192092896;
}.e35_95 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(7.926861047744751, 24.625401310622692, 171.05884104967117, 1);
	width:992px;
	height:458px;
	position:absolute;
	left:214px;
	top:185px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.e35_96 { 
	width:274px;
	height:274px;
	position:absolute;
	left:242px;
	top:277px;
}.e35_97 { 
	border-radius:500px;
	width:274px;
	height:274px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/ellipse_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e35_98 { 
	width:149px;
	height:720px;
	position:absolute;
	left:0px;
	top:0px;
}.ei35_98_30_15 { 
	width:149px;
	height:720px;
	position:absolute;
	left:0px;
	top:0px;
}.ei35_98_28_83 { 
	background-color:rgba(23.000000528991222, 136.00000709295273, 20.000000707805157, 1);
	width:149px;
	height:720px;
	position:absolute;
	left:0px;
	top:0px;
}.ei35_98_28_86 { 
	width:129px;
	height:132px;
	position:absolute;
	left:8px;
	top:101px;
}.ei35_98_28_87 { 
	width:109.15384674072266px;
	height:105.26581573486328px;
	position:absolute;
	left:11.576923370361328px;
	top:13.36709976196289px;
}.i35_98_28_88 { 
	overflow:hidden;
}.ei35_98_28_88 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:109.15384674072266px;
	height:105.26581573486328px;
	position:absolute;
	left:0px;
	top:0px;
}.ei35_98_28_89 { 
	width:226.60951232910156px;
	height:207.74520874023438px;
	position:absolute;
	left:-42.358280181884766px;
	top:-44.658233642578125px;
	background-image:url(images/m_header.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei35_98_28_90 { 
	border-radius:500px;
	width:129px;
	height:132px;
	position:absolute;
	left:0px;
	top:0px;
}.ei35_98_28_91 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:15px;
	position:absolute;
	left:18px;
	top:242px;
	font-family:Mulish;
	text-align:right;
	font-size:20px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}.ei35_98_30_13 { 
	color:rgba(255, 255, 255, 1);
	width:79px;
	height:15px;
	position:absolute;
	left:24px;
	top:668px;
	font-family:Mulish;
	text-align:right;
	font-size:16px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}.ei35_98_28_107 { 
	background-color:rgba(255, 255, 255, 1);
	width:38px;
	height:37px;
	position:absolute;
	left:53px;
	top:619px;
}.ei35_98_28_109 { 
	background-color:rgba(255, 255, 255, 1);
	width:40px;
	height:34px;
	position:absolute;
	left:57px;
	top:371px;
}.ei35_98_28_110 { 
	width:34px;
	height:35px;
	position:absolute;
	left:57px;
	top:452px;
}.ei35_98_28_111 { 
	background-color:rgba(253.0000001192093, 154.00000602006912, 62.00000010430813, 1);
	width:34px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
}.ei35_98_28_112 { 
	width:40.9219970703125px;
	height:35.61391830444336px;
	position:absolute;
	left:53px;
	top:534px;
}.ei35_98_28_113 { 
	background-color:rgba(255, 255, 255, 1);
	width:40.9219970703125px;
	height:35.61391830444336px;
	position:absolute;
	left:0px;
	top:0px;
}.ei35_98_30_12 { 
	width:39px;
	height:33px;
	position:absolute;
	left:53px;
	top:291px;
}.ei35_98_30_4 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:20px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}.ei35_98_30_7 { 
	background-color:rgba(255, 255, 255, 1);
	width:16px;
	height:13px;
	position:absolute;
	left:23px;
	top:5px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}.ei35_98_30_9 { 
	background-color:rgba(255, 255, 255, 1);
	width:16px;
	height:13px;
	position:absolute;
	left:4px;
	top:20px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}.ei35_98_30_11 { 
	background-color:rgba(255, 255, 255, 1);
	width:16px;
	height:13px;
	position:absolute;
	left:23px;
	top:20px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}.ei35_98_30_54 { 
	background-color:rgba(253.0000001192093, 154.00000602006912, 62.00000010430813, 1);
	width:149px;
	height:77px;
	position:absolute;
	left:0px;
	top:0px;
}.ei35_98_30_56 { 
	transform: rotate(-74.9999982305801deg);
	background-color:rgba(3.1323849549517035, 3.136672549881041, 3.1838360941037536, 1);
	width:25.410112380981445px;
	height:27.115379333496094px;
	position:absolute;
	left:23px;
	top:36.5443115234375px;
}.ei35_98_30_58 { 
	color:rgba(0, 0, 0, 1);
	width:65px;
	height:32px;
	position:absolute;
	left:48.76806640625px;
	top:12.01800537109375px;
	font-family:Mulish;
	text-align:left;
	font-size:25px;
	letter-spacing:0.30000001192092896;
}.ei35_98_30_61 { 
	color:rgba(0, 0, 0, 1);
	width:95px;
	height:22px;
	position:absolute;
	left:35.76806640625px;
	top:41.0179443359375px;
	font-family:Montserrat;
	text-align:left;
	font-size:10px;
	letter-spacing:0.30000001192092896;
}.ei35_98_33_846 { 
	color:rgba(255, 255, 255, 1);
	width:52px;
	height:23px;
	position:absolute;
	left:45px;
	top:578px;
	font-family:Mulish;
	text-align:right;
	font-size:18px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}.ei35_98_33_847 { 
	color:rgba(255, 255, 255, 1);
	width:98px;
	height:23px;
	position:absolute;
	left:24px;
	top:495px;
	font-family:Mulish;
	text-align:right;
	font-size:18px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}.ei35_98_33_848 { 
	color:rgba(255, 255, 255, 1);
	width:66px;
	height:23px;
	position:absolute;
	left:41px;
	top:417px;
	font-family:Mulish;
	text-align:right;
	font-size:18px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}.ei35_98_33_849 { 
	color:rgba(255, 255, 255, 1);
	width:98px;
	height:23px;
	position:absolute;
	left:25px;
	top:335px;
	font-family:Mulish;
	text-align:right;
	font-size:18px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}.e35_99 { 
	width:133px;
	height:50.125389099121094px;
	position:absolute;
	left:538px;
	top:305px;
}.e35_100 { 
	color:rgba(255, 255, 255, 1);
	width:133px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.30000001192092896;
}.e35_101 { 
	color:rgba(255, 255, 255, 1);
	width:101px;
	height:20.125391006469727px;
	position:absolute;
	left:0px;
	top:30px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.30000001192092896;
}.e35_102 { 
	width:161px;
	height:50.125389099121094px;
	position:absolute;
	left:538px;
	top:457px;
}.e35_103 { 
	color:rgba(255, 255, 255, 1);
	width:161px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.30000001192092896;
}.e35_104 { 
	color:rgba(255, 255, 255, 1);
	width:101px;
	height:20.125391006469727px;
	position:absolute;
	left:0px;
	top:30px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.30000001192092896;
}.e35_105 { 
	width:161px;
	height:50.125389099121094px;
	position:absolute;
	left:538px;
	top:381px;
}.e35_106 { 
	color:rgba(255, 255, 255, 1);
	width:161px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.30000001192092896;
}.e35_107 { 
	color:rgba(255, 255, 255, 1);
	width:101px;
	height:20.125391006469727px;
	position:absolute;
	left:0px;
	top:30px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.30000001192092896;
}.e35_108 { 
	background-color:rgba(253.0000001192093, 154.00000602006912, 62.00000010430813, 1);
	width:992px;
	height:64px;
	position:absolute;
	left:214px;
	top:186px;
	border-radius:Symbol(figma.mixed)px;
}.e35_109 { 
	color:rgba(252.85658061504364, 252.85658061504364, 252.85658061504364, 1);
	width:159px;
	height:30px;
	position:absolute;
	left:268px;
	top:203px;
	font-family:Mulish;
	text-align:left;
	font-size:24px;
	letter-spacing:0.30000001192092896;
}.e35_110 { 
	background-color:rgba(250.73158264160156, 250.73158264160156, 250.73158264160156, 1);
	width:427px;
	height:147px;
	position:absolute;
	left:728px;
	top:305px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e35_111 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:99px;
	height:36px;
	position:absolute;
	left:843px;
	top:476px;
}.e35_112 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(253.0000001192093, 154.00000602006912, 62.00000010430813, 1);
	width:99px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e35_113 { 
	color:rgba(255, 255, 255, 1);
	width:87px;
	height:16px;
	position:absolute;
	left:6px;
	top:10px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0.30000001192092896;
}.e35_114 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:99px;
	height:36px;
	position:absolute;
	left:728px;
	top:476px;
}.e35_115 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(253.0000001192093, 154.00000602006912, 62.00000010430813, 1);
	width:99px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e35_116 { 
	color:rgba(255, 255, 255, 1);
	width:74px;
	height:16px;
	position:absolute;
	left:12px;
	top:10px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0.30000001192092896;
}.e35_117 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:209px;
	height:40px;
	position:absolute;
	left:957px;
	top:558px;
}.e35_118 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(23.000000528991222, 136.00000709295273, 20.000000707805157, 1);
	width:209px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e35_119 { 
	color:rgba(255, 255, 255, 1);
	width:164px;
	height:14px;
	position:absolute;
	left:23px;
	top:13px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0.30000001192092896;
}.e35_120 { 
	color:rgba(0, 0, 0, 1);
	width:379px;
	height:135px;
	position:absolute;
	left:752px;
	top:317px;
	font-family:Montserrat;
	text-align:justified;
	font-size:12px;
	letter-spacing:0.30000001192092896;
}.e35_121 { 
	width:24px;
	height:24px;
	position:absolute;
	left:1143px;
	top:206px;
}.e35_122 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}.e35_123 { 
	background-color:rgba(255, 255, 255, 1);
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}