.e33_245 { 
	width:122px;
	height:195px;
	position:absolute;
}
.e33_184 { 
	background-color:rgba(6.999999582767487, 17.000012286007404, 104.00000140070915, 0.9300000071525574);
	width:122px;
	height:195px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}
.33_184 { 
	border:1px solid rgba(52.07170285284519, 52.07170285284519, 52.07170285284519, 1);
}
.33_193 { 
	border:1px solid rgba(52.07170285284519, 52.07170285284519, 52.07170285284519, 1);
}
.e33_193 { 
	width:122px;
	height:0px;
	position:absolute;
	left:0px;
	top:27px;
}
.33_194 { 
	border:1px solid rgba(52.07170285284519, 52.07170285284519, 52.07170285284519, 1);
}
.e33_194 { 
	width:122px;
	height:0px;
	position:absolute;
	left:0px;
	top:50px;
}
.33_195 { 
	border:1px solid rgba(52.07170285284519, 52.07170285284519, 52.07170285284519, 1);
}
.e33_195 { 
	width:122px;
	height:0px;
	position:absolute;
	left:0px;
	top:73px;
}
.33_196 { 
	border:1px solid rgba(52.07170285284519, 52.07170285284519, 52.07170285284519, 1);
}
.e33_196 { 
	width:122px;
	height:0px;
	position:absolute;
	left:0px;
	top:96px;
}
.33_197 { 
	border:1px solid rgba(52.07170285284519, 52.07170285284519, 52.07170285284519, 1);
}
.e33_197 { 
	width:122px;
	height:0px;
	position:absolute;
	left:0px;
	top:119px;
}
.33_198 { 
	border:1px solid rgba(52.07170285284519, 52.07170285284519, 52.07170285284519, 1);
}
.e33_198 { 
	width:122px;
	height:0px;
	position:absolute;
	left:0px;
	top:142px;
}
.33_199 { 
	border:1px solid rgba(52.07170285284519, 52.07170285284519, 52.07170285284519, 1);
}
.e33_199 { 
	width:122px;
	height:0px;
	position:absolute;
	left:0px;
	top:165px;
}
.e33_200 { 
	color:rgba(255, 255, 255, 1);
	width:88px;
	height:14px;
	position:absolute;
	left:8px;
	top:12px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0.30000001192092896;
}
.e33_201 { 
	color:rgba(255, 255, 255, 1);
	width:88px;
	height:14px;
	position:absolute;
	left:8px;
	top:35px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0.30000001192092896;
}
.e33_202 { 
	color:rgba(255, 255, 255, 1);
	width:88px;
	height:14px;
	position:absolute;
	left:8px;
	top:58px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0.30000001192092896;
}
.e33_203 { 
	color:rgba(255, 255, 255, 1);
	width:88px;
	height:14px;
	position:absolute;
	left:8px;
	top:81px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0.30000001192092896;
}
.e33_204 { 
	color:rgba(255, 255, 255, 1);
	width:88px;
	height:14px;
	position:absolute;
	left:8px;
	top:104px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0.30000001192092896;
}
.e33_205 { 
	color:rgba(255, 255, 255, 1);
	width:88px;
	height:14px;
	position:absolute;
	left:8px;
	top:127px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0.30000001192092896;
}
.e33_206 { 
	color:rgba(255, 255, 255, 1);
	width:88px;
	height:14px;
	position:absolute;
	left:8px;
	top:150px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0.30000001192092896;
}
.e33_207 { 
	color:rgba(255, 255, 255, 1);
	width:88px;
	height:14px;
	position:absolute;
	left:8px;
	top:173px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0.30000001192092896;
}
